.main-body {
  position: relative;
  top: 88px;
  max-width: 1680px;
}

.main-page {
  margin: 0 66px;
  background: #414850;
}

.main-body-latest-article {
  margin: 0;
  // background: #414850;
  // margin-top: -178px;
}
